<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.theteacher">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Signaling Server에 소켓 연결하기 위한 서비스입니다.-->
        <service
            android:name=".SocketService"
            android:enabled="true">
        </service>

        <!--splash 화면입니다.-->
        <activity android:name=".SplashActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--로그인 화면입니다.-->
        <activity android:name=".LoginActivity">
        </activity>

        <!--회원가입 화면입니다.-->
        <activity android:name=".MemberJoinActivity">
        </activity>

        <!--로그인 되어있을 때의 메인 화면입니다.-->
        <activity android:name=".MainActivity">
        </activity>

        <!--유저의 프로필을 수정할 수 있는 화면입니다.-->
        <activity android:name=".ProfileModifyActivity">
        </activity>

        <!--position이 강사인 유저가 자신의 강의를 관리할 수 있도록 만든 화면입니다.-->
        <activity android:name=".LectureManageActivity">
        </activity>

        <!--Home에서 강의를 클릭했을 때, 그 강의의 세부 정보를 보여주는 화면입니다.-->
        <activity android:name=".LectureDetailActivity">
        </activity>

        <!--Home에서 질문을 성공적으로 등록했을 때 질문의 답변을 기다리는 화면입니다.-->
        <activity android:name=".QuestionViewActivity">
        </activity>

        <!--상담 전화를 요청하는 신호를 받으면 그 전화를 받을지, 끊을지 결정하는 화면입니다.-->
        <activity android:name=".ReceiveSignalActivity">
        </activity>

        <!--학생이 상담 전화를 걸거나, 선생님이 상담 전화 요청을 수락하게 되면 보게되는 화면입니다. -->
        <activity android:name=".CallActivity">
        </activity>

        <!--선생님이 자신의 강의 세부 내용을 보는 곳(LectureDetailActivity)에서 강의 준비하기를 클릭하면 열리는 화면입니다.-->
        <activity android:name=".LecturePlayActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".LectureViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <!--ProfileModifyActivity에서 카메라, 갤러리, 크롭을 위해 사용하는 provider입니다.-->
        <provider
            android:authorities="com.example.theteacher.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        
    </application>
    
    

</manifest>